
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.lead{
  text-decoration :none ;
}

/*----- nav ----- */
nav {
  border-bottom: 1px solid silver ;
}
nav .navbar-brand{
  font-family :'Montserrat', sans ;
  color :#dddddd ;
  transition : 300ms ease-in-out ;
}
nav .navbar-brand:hover{
  color : white ;
  transition : 300ms ease-in-out ;
}
nav .navbar-brand:focus{
  color : gray ;
  transition : 300ms ease-in-out ;
}
#nav-list .nav-link.active {
  color : #eeeeee ;
  font-weight :500 ;
  transition : 300ms ease-in-out ;
}
.nav-item a{
  color : #ddd ;
}
.nav-item a:hover{
  color : gray ;
  transition : 300ms ease-in-out ;
}

/*----- hamburger -----*/
#toggler-btn{
  border :none ;
  background-color :transparent ;
  box-shadow :none ;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
  background-color :transparent ;
  width: 40px;
  height: 34px ;
  cursor: pointer;
  transition: transform 0.5s ease;
  margin: 0 auto ;
  border :none ;
}
.hamburger span {
  display: block;
  border-radius :10px ;
  width: 26px;
  height: 3px;
  background-color: grey ;  
  margin :0 auto ; 
  margin-bottom: 5px ;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#bars{
  margin-top :5px ;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color : orange ; 
}
.hamburger.active span:nth-child(2) {
  opacity :0 ;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color : gray ; 
}

/*----- home -----*/

#home .btn {
  background : gray ;
  font-size :13px ;
}
#home h1{
  font-family:'Playfair Display', sans-serif; 
}
#home span{
  font-family:'Playfair Display', sans-serif;
  letter-spacing: 1.2px ;
  background: linear-gradient(
        45deg,
         #ff8800, #ff8800
    );
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  white-space:nowrap;      
}
#home p{
  font-family: 'Lato', sans-serif; 
}
.astro-sm {
  transform :translateX(-8px);
  border :1px solid silver ;
  box-shadow :16px 8px 0 .1px #113a42 ;
}

/* ----- skills ----- */

#stack h2{
  font-family :'Montserrat', sans ;
}
#skills img{
  width : 60% ;
  aspect-ratio :4/3 ;
  object-fit :contain ;
  background :transparent ;
  position :relative ;
  z-index :1 ;  
}
#skills p{
  position :relative ;
  font-size :13px ;
  z-index :1 ;  
}
#skills div:hover img{
  transition :300ms ease-in-out ;
  background : #04111a ;    
}
#skills div{
  border-radius: 15px ; 
  transition :500ms ease-in-out ;
  overflow :hidden ;
}
#skills div:hover::after{
  content :'';
  inset :2px ;
  position :absolute ;
  background :#04111a ;
  border-radius :15px ;
  z-index :0 ;
}
#skills div:hover::before{
  content: '';
  position :absolute ;
  height :240px ;
  width :100px ;
  background : linear-gradient(0deg,
     #b9ff2b, gold );
  margin-top :-75px ;      
  animation :animate 3s linear infinite ;
}
@keyframes animate{
  0%{
    transform :rotate(0deg);
  }
  100%{
    transform :rotate(360deg);
  }
}

#skills div:hover{
  background-color: #04111a ;
  transition :300ms ease-in-out ;
  color :#fff ;
  transform :translateY(-5px);
}

/* ----- about-section ----- */

#about h2{
  color :orange ;
  font-family :'Montserrat', sans ;
}
#about p{
  color :silver ;
}

/* ----- projects ----- */

#projects h2{
  border-top :1px solid silver ;
  font-family :'Montserrat', sans ;
}

#projects a:hover{
  color: #21a5c5; 
  text-decoration : underline 1px silver ;
}
#pro img{
  border :1px solid black ;
}
#projects div .lead{
  color : #0f1f5a ;
}

/* ----- social ----- */

#social img{
  width :25px ;
}
#social img:hover {
  transform :translateY(-4px);
  transition :300ms ease-in-out ;
}
#social .row{
  border-bottom :.1px solid #373737 ;
}
